/* star variabls */
:root{
    --main-color: #2ecc71;
}
/* end variabls */
/* start Globale */
*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width:100%;
    max-width: 1170px;
    margin:auto;
    padding: 0 20px
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

/* special componens */
.bott{
    background: none;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    padding: 10px 25px;
    margin-top: 20px;
    ;
    cursor: pointer;
}
.bott:hover{
    background: var(--main-color);
    color: #fff;
}

.main-p{
    line-height: 2;
    color: #888;
}
/* end Globale */

/* Star header */
header nav{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
header nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
header h2{
    color: #fff;
}
header h2 span{
    color: var(--main-color)
}
header ul{
    display: none;
    justify-content: space-between;
}
header nav i:hover + ul{
    display: block;
    position: absolute;
    top: calc(100% - 10px);
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
}
header ul li a{
    display: block;
    padding: 10px 17px;
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    margin-bottom: 10px;
}
header ul li a:hover,
header ul li a.active{
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}
header nav i{
    font-size: 24px;
    color: #fff;
    margin-right: 30px;
}
header .landing{
    background-color: #eee;
    background: url("../img/landing.jfif");
    background-size: cover;
    height: 90vh;
    position: relative;
    padding: 40px 0;
}
header .landing::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6)
}
header .landing .container{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
header .landing h2{
    margin:0 auto;
    padding: 13px 0;
    font-size: 36px;
    border-top: 3px solid #fff;
    border-bottom:3px solid #fff;
    text-align: center;
}
header .landing button{
    background: none;
    padding: 12px 32px;
    position: relative;
    top: 100px;
    font-size: 18px;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}
header .landing button:hover{
    background: var(--main-color);
    border: 1px solid var(--main-color)
}
@media (min-width: 565px){
    header nav i:hover + ul{
        width: 300px;
        right: 30px;
        left: auto;
    }
}
@media (min-width: 992px){
    header nav ul{
        display: flex;
        width: auto;
    }
    header nav i{
        display: none !important;
    }
}
/* End Header */

/* Star features */
.features{
    overflow: hidden;
    padding:50px 0;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.features .feat{
    padding: 0 20px
}
.features .feat h2{color:#444}
.features .feat p{
    line-height: 2;
    color: #888;
    text-align: justify ;
}

/* End features */

/* Star About Me */

.about{
    background-color: #f5f5f5
}
.about .container{
    display: flex;
    flex-wrap: wrap;
}

.about .image{
    width: 90%;
    margin: auto;
}
.about .image img{
    width: 100%;
    height: 100%;
}
.about .info{
    width:100%;
    padding-left:35px;
}
@media (min-width: 768px){
    .about .image{
        width: 50%;
    }
}
@media (min-width: 992px){
    .about .image{
        width: 40%;
    }
    .about .info{
        width: calc(60% - 30px);
    }
}

.about .info > h2{
    margin-top:45px;
    color:#333;
}
.about .info > p{

    margin-bottom:20px;
}
.about .info p{
    line-height: 1.6;
    color: #555;
}
.about .info .hobbies{
    padding:20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about .info .hobbies > div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 30px;
}
.about .info .hobbies > div .image{
    width: 100%;
    margin: 0;
}
.about .info .hobbies > div img{
    width: 30px;
    height: 30px;
    margin-top:20px;
    filter: invert(66%) sepia(18%) saturate(7000%) hue-rotate(100deg) brightness(90%) contrast(77%);
}
.about .info .hobbies > div .cont{
    width: 100%;
    padding: 0 15px;
}
.about .info .hobbies > div .cont p{
    margin:0;
}
.about .info .hobbies h3{
    margin-bottom: 10px;
    color:#333;
}
@media (min-width: 576px){
    .about .info .hobbies > div{
        width: 50%;
        margin-bottom: 10px;
        text-align: left;
    }
    .about .info .hobbies > div .image{
        width: 10%;
    }
    .about .info .hobbies > div .cont{
        width: 85%
    }
}
/* Star About Me */

/* Star Skills */

.skills{
    padding:30px 0 30px;
}
.skills .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.skills .skills-info{
    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
    padding-left: 40px;
}
.skills .skills-info h2{
    color: #333;
}
/* .skills .skills-info button{
    background:none;
    border: 2px solid var(--main-color);
    padding: 10px 25px;
    color: var(--main-color);
    cursor: pointer;
} */
.skills .skills-progress{
    width: 100%;
    max-width: 600px;
    padding: 0 30px;
    margin: auto;
}
.skills .skills-progress .tech h3{
    margin: 35px 10px 10px 0;
    color: #333;
}
.skills .skills-progress .tech > div{
    background: #f2f2f2;
    height: 25px;
}
.skills .skills-progress .tech > div span{
    display:block;
    background-color: var(--main-color);
    color: #fff;
    height: 25px;
    line-height: 25px;
    text-align: right;
}
@media (min-width: 576px){
    .skills .skills-info,
    .skills .skills-progress{
        width: 70%;
    }
}
@media (min-width: 992px){
    .skills .skills-info{
        width: 50%;
        text-align: left;
    }
    .skills .skills-progress{
        width: calc(50% - 40px)
    }
    
}

/* End Skills */

/* Star Resume */
.resume{
    text-align: center;
    padding: 45px 0 55px;
    background: url(../img/w2.jpg) ;
    background-size: cover;
    color: #fff;
    position: relative;
}
.resume::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.452);
}
.resume .container{
    position: relative;
}
.resume h2{
    text-transform: uppercase;

}
.resume p{
    line-height: 1.7;

}
.resume button{
    border: 1px solid #fff;
    color: #fff;
}
.resume button:hover{
    border-color: var(--main-color)
}
/* End Resume */

/* star education */
.education{
    padding:30px 0 30px;
}
.education .educ{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.education .educ .info,
.education .educ .sertafic{
    width: 100%
}
@media (min-width: 992px){
    .education .educ .info,
    .education .educ .sertafic{
        width: 50%
    }
}

.education .sertafic{
    padding-left: 55px;
}
.education .sert{
    margin-top: 62px;
}
.education .sert h3{
    margin-bottom:10px;
}
.education .sert span:nth-of-type(1){
    color:#555;
    display: block;
}
.education .sert span:nth-of-type(2){
    display: inline-block;
    margin:10px 0 20px 0;
    padding:5px;
    background: var(--main-color);
    color:#fff;
}
.education .sert p{
    margin-top:20px;
}


.education .work{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.education .work .info,
.education .work .sertafic{
    width: 100%;
}
@media (min-width: 992px){
    .education .work .info,
    .education .work .sertafic{
        width: 50%
    }
}
/* end education */

/* star test */
.test{
    text-align: center;
    padding:45px 0 29px;
    background: url(../img/w3.jfif);
    background-size: cover;
    color: #fff;
}
.test h3{
    font-size: 26px;
}
.test q{
    display: inline-block;
    font: italic bold 16px/1.7 Arial, Tahoma;
 /* font-style: italic;
    font-weight: bold;
    font-size: 16px; 
    line-height: 1.7;
    font-family: Arial,Tahoma;*/
}
.test span{
    color: var(--main-color);
    font-size: 19px;
    display: inline-block;
    font-weight: 600;
    margin: 25px 0;
}

.test ul{list-style: none; padding-left: 0;}
.test ul li{
    display:inline-block;
    width: 13px;
    height: 13px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer
}
.test ul li.active,
.test ul li:hover{
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* end test */

/* start portfolio */
.portfolio{
    text-align: center;
    padding: 40px
}
.portfolio .our-work{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.portfolio .our-work > div{
    flex-basis: 100%;
    margin-bottom: 30px;
}
.portfolio .our-work > div img{
    width:100%;
    height: 100%;
    padding: 3px;
    border: 2px solid #ccc;
}
@media (min-width: 576px){
    .portfolio .our-work > div{
        flex-basis: calc(50% - 15px);
    }
}
@media (min-width: 992px){
    .portfolio .our-work > div{
        flex-basis: calc(33% - 15px);
    }
}
/* end portfolio */

/* star contact */
.contact{
    overflow:hidden;
    background-color:#252f31;
    padding: 40px 30px;
}
.contact h2{
    color: #fff;
    font-size: 26px;
}
.contact .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact .info,
.contact .form{ 
    width: 100%; 
    margin-top: 30px;
}
.contact .form{order: -1}
@media (min-width: 768px){
    .contact .info,
    .contact .form{ 
        width: calc(50% - 15px); 
    }
    .contact .form{order: 1}
}
.contact .info p{
    color:#6A6E71;
    line-height: 1.7;
}
.contact .info h2{color:#fff}
.contact .info p{color: #6A6E71 }
.contact .form span{
    display: block;
    color:#fff
}
.contact .form input:not([type='submit']),
.contact .form textarea{
    display: block;
    width: 100%;
    margin:10px 0 30px;
    padding:10px;
    color:#fff;
    border:none;
    background-color: #4b5557;
    outline: none;
}
.contact .form textarea{
    height: 240px;
    resize: none;
}
.contact .form input[type="submit"]{
    background-color: #191e22;
    color: #fff;
    padding: 10px 20px;
    border:none;
    cursor: pointer;
}
/* end contact */

/* star footer */
.footer{
    background-color: #191e22;
    text-align:center;
    color:#6A6E71;
    padding: 10px 0 5px;
}
.footer .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer p,
.footer .social{
    width: 100%;
}
@media (min-width: 576px){
    .footer p,
    .footer .social{
        width: 50%;
    }
}
.footer i{ margin:10px; cursor: pointer;}
.footer i:hover{color:#fff;}
/* star footer */


